body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: aliceblue;
}

.scoreboard {
  margin-left: 5%;
  width: 35vw;
}

.leaderboardcontainer {
  width: 70vw;
  margin-top: 5%;
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.scorecontainer {
  display: flex;
  flex-direction: row;
}

.scoreinput {
  display: flex;
  flex-direction: column;
}

.scoreboardheader {
  display: flex;
  width: 30vw;
  padding-top: 3%;
  padding-bottom: 4%;
  align-items: center;
  margin-bottom: 1%;
}

.Leaderheader {
  font-size: 4vw;
  color: brown;
}

.recent {
  font-size: 2vw;
  margin: 0;
  flex: 3;
}

.refesh {
  height: 5vh;
  box-shadow: 3px 3px 2px 1px;
  width: 10vw;
}

.scorelist {
  border: 2px solid black;
  width: 30vw;
  list-style: none;
}

.scolist {
  display: flex;
  align-items: center;
  margin: 0;
  height: 4vh;
  padding: 0;
}

.namescore {
  width: 100%;
  margin-bottom: 4%;
  border: 2px solid black;
  padding: 0;
  margin-left: 0;
  height: 4vh;
}

.score {
  border: 2px solid black;
  width: 100%;
  margin-bottom: 4%;
  padding: 0;
  margin-left: 0;
  height: 4vh;
}

.scoresheet {
  width: 25vw;
}

.submit {
  width: 30%;
  align-self: flex-end;
  box-shadow: 3px 3px 2px 1px;
  height: 5vh;
}

.scorelist .scolist:nth-child(even) {
  background-color: rgb(212, 212, 212);
}

.refesh:hover {
  cursor: pointer;
  background-color: azure;
}

@media only screen and (max-width: 768px) {
  .Leaderheader {
    font-size: 8vw;
    color: brown;
  }

  .leaderboardcontainer {
    display: flex;
    flex-direction: column;
  }

  .scorecontainer {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }

  .recent {
    font-size: 5vw;
    margin: 0;
  }

  .refesh {
    height: 6vh;
    box-shadow: 3px 3px 2px 1px;
    width: 25%;
  }

  .scoreboardheader {
    display: flex;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 4%;
    align-items: center;
    margin-bottom: 1%;
  }

  .scoreboard {
    margin-left: 5%;
    width: 90%;
  }

  .scorelist {
    border: 2px solid black;
    width: 100%;
    list-style: none;
  }

  .scoresheet {
    width: 90%;
    margin-left: 5%;
  }

  .scoresheet > h2 {
    font-size: 5vw;
  }
}
